<div>
  <h1 class="text-center">Episode List</h1>
  <div *ngFor="let episode of episodes" class="episode-item" (click)="openEpisode(episode.id)">
    <h2 class="episode-title">{{ episode.name }}</h2>
    <p class="episode-info">
      <strong>Air Date:</strong> {{ episode.air_date }}<br>
      <strong>Episode:</strong> {{ episode.episode }}
    </p>
    <p class="episode-info"><strong>Characters:</strong></p>
    <ul class="character-list">
      <li *ngFor="let character of episode.characters">{{ character }}</li>
    </ul>
  </div>
</div>
