<div class="app-container">
  <header>
    {{ title }}
  </header>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <a routerLink="/characters" routerLinkActive="active">Characters</a>
    <a routerLink="/episodes" routerLinkActive="active">Episodes</a>
    <a routerLink="/locations" routerLinkActive="active">Locations</a>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    &copy; 2024 Victor Oliveira. Todos os direitos reservados.
  </footer>
</div>
