body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #b7c7b7;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 24px;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #f1f1f1;
  color: #555;
  text-align: center;
  padding: 10px 20px;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(255, 152, 0);;
  color: black;
}

nav a.active {
  background-color: rgb(255, 152, 0);;
  color: white;
}

section {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px
}
