<!-- character-card.component.html -->

<div class="character-card">
  <img [src]="character.image" alt="{{ character.name }}" class="character-image" />
  <div class="character-info">
    <h2 class="character-name">{{ character.name }}</h2>
    <p><strong>Status:</strong> {{ character.status }}</p>
    <p><strong>Species:</strong> {{ character.species }}</p>
    <p><strong>Gender:</strong> {{ character.gender }}</p>
    <p><strong>Origin:</strong> <a [href]="character.origin.url" target="_blank">{{ character.origin.name }}</a></p>
    <p><strong>Location:</strong> <a [href]="character.location.url" target="_blank">{{ character.location.name }}</a></p>
    <p><strong>Created:</strong> {{ character.created | date: 'medium' }}</p>
    <p><strong>Episodes:</strong></p>
    <ul>
      <li *ngFor="let episode of character.episode">
        <a [href]="episode" target="_blank">{{ episode }}</a>
      </li>
    </ul>
  </div>
</div>
